/* custom class */
/*reset */
p {
  margin: 0;
}
/*custom sliding pane style*/
.zIndex {
  z-index: 999;
}

.zIndex .slide-pane__header {
  background: transparent;
  border-bottom: none;
}
/*login svg */
.st0 {
  fill: #ecd714;
}
.st1 {
  fill: #e9b115;
}
.st2 {
  fill: #fe0808;
}
.st3 {
  fill: #e60000;
}
.st4 {
  fill: #fe1200;
}
.st5 {
  fill: #4e4707;
}
.st6 {
  fill: #180403;
}
.st7 {
  fill: #6c6209;
}
.st8 {
  fill: #010100;
}
.st9 {
  fill: #0b0a01;
}
.st10 {
  fill: #f8f8f8;
}
.st11 {
  fill: #f7f7f7;
}
.st12 {
  fill: #94190a;
}
.st13 {
  fill: #7c150d;
}
.st14 {
  fill: #791913;
}
.st15 {
  fill: #39cbd9;
}

.wrapper {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.wrapper .tail {
  position: absolute;
  width: 35%;
  z-index: -10;
  bottom: 18%;
  right: 3%;
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  animation: tail 2s linear infinite;
  -webkit-animation: tail 2s linear infinite;
}
@keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

/*
*
*     Table
*
*/

.ReactVirtualized__Table__headerRow.hookia__row {
  background: transparent;
  padding-left: 20px;
}
.hookia__header {
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.hookia__grid {
  padding: 0 20px;
  background-color: #eff2f4;
}
.hookia__row {
  background: white;
}
.hookia__row:nth-child(n + 2):before {
  content: "";
  height: 7px;
  background-color: #eff2f4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.hookia__row:nth-child(n + 2):after {
  content: "";
  height: 7px;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.icon--table-action {
  color: white;
}
